<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header custom-navbar">
      <a class="navbar-brand" href="#" >
        <img src="./assets/images/logo2-site.png" alt="logo du site" class="navbar-logo custom-logo">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/cinemas" >CINÉMAS</a></li>
      <li class="active"><a routerLink="/films" >FILMS</a>
      <li class="active"><a routerLink="/evenements" >ÉVÉNEMENTS</a></li>
      <li class="active"><a routerLink="/offres" >OFFRES</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
